@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

label {
  display: block;
}

select,
input[type='phone'],
input[type='date'],
input[type='datetime'],
input[type='number'],
input[type='text'],
input[type='password'] {
  display: block;
}


/* ------------------ */


* {
  margin: 0;
  padding: 0;
 
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #5dafb8;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  height: 50vh;
  border-radius: 13px;
  box-shadow: 20px 40px 33px rgba(0,0,0,0.3);
  padding: 2rem;
  width: 35vw;
  background-color:  #6cc2ce;

}

.product-canvas {
  width: 35vw;
  height: 38vh;
  background:white;
  box-shadow:  10px 15px 15px 6px #3891b4;
  border-radius: 0px;
  margin-bottom:20px

}

.colors {
display:flex;
flex-direction:row;
}

.colors div {padding:8px;}
